@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content_1{
  display: flex;
  position: absolute;
  margin-left: -10px;
  margin-right: 20px;
  margin-top: 15px;
  width: 97vw;
  height: 1100px;
}

.back{
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  width: 97vw;
  height: 5000px;
  background: #000000;
  z-index: 8;
}

#layout-1{
  position: absolute;
  margin-left: 200px;
  margin-top: 50px;
  width: 1000px;
  z-index: 2;
}

#layout-2{
  position: absolute;
  margin-left: 150px;
  margin-top: 120px;
  width: 1000px;
  z-index: 3;
}

#layout-3{
  position: absolute;
  margin-left: 65px;
  margin-top: 25px;
  width: 1182px;
  z-index: 3;
}

#layout-4{
  position: absolute;
  margin-left: 240px;
  margin-top: 900px;
  width: 900px;
  z-index: 4;
}

#layout-5{
  position: absolute;
  margin-left: 970px;
  margin-top: 180px;
  width: 400px;
  z-index: 4;

}

#layout-6{
  position: absolute;
  margin-left: 770px;
  margin-top: 40px;
  width: 600px;
  z-index: 5;
}

#layout-7{
  position: absolute;
  margin-left: 170px;
  margin-top: 1200px;
  width: 945px;
  z-index: 5;
}


#layout-8{
  position: absolute;
  margin-left: 110px;
  margin-top: 1000px;
  width: 550px;
  height: 1000px;
  z-index: 1;
}

.layer {
  overflow: hidden;
  margin-top: 1050px;
  margin-left: 130px;
  width: 450px;
  height: 865px;
  padding: 5px;
  z-index: 2;
  }

.back .content_1 .layer p{
 font-family: Montserrat;
 font-size: 25px;
}



.content_2{
  display: flex;
  position: absolute;
  margin-right: 20px;
  margin-top: 1300px;
  width: 97vw;
  height: 1600px;
  overflow: hidden;
}

#layout-9{
  position: absolute;
  margin-top: 380px;
  margin-left: -300px;
  width: 700px;
  z-index: 8;
}

#layout-10{
  position: absolute;
  margin-top: 280px;
  margin-left: 520px;
  width: 700px;
  z-index: 2;
}

#layout-11{
  position: absolute;
  margin-top: 120px;
  margin-left: 805px;
  width: 560px;
  z-index: 3;
}

#layout-12{
  position: absolute;
  margin-top: 710px;
  margin-left: 410px;
  width: 520px;
  z-index: 3;
}

#layout-13{
  position: absolute;
  margin-top: 1250px;
  margin-left: 295px;
  width: 950px;
  z-index: 3;
}

.back .content_2 p{
  font-family: Montserrat;
  font-size: 35px;
  margin-top: 1320px;
  margin-left: 315px;
  margin-right: 230px;
  font-weight: 700;
  z-index: 4;
}

.content_3{
  display: flex;
  position: absolute;
  margin-right: 20px;
  margin-top: 2500px;
  width: 97vw;
  height: 1600px;
  overflow: hidden;
}

#layout-14{
  position: absolute;
  margin-top: 350px;
  margin-left: 380px;
  width: 550px;
  z-index: 2;
}

#layout-15{
  position: absolute;
  margin-top: 200px;
  margin-left: 850px;
  width: 550px;
  z-index: 2;
}

.back .content_3 p{
  font-family: Pacifico;
  margin-left: 390px;
  margin-right: 550px;
  margin-top: 380px;
  font-size: 40px;
  z-index: 2;
}

#layout-16{
  position: absolute;
  margin-top: 800px;
  margin-left: 650px;
  width: 550px;
  z-index: 1;
}
